h1#title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 37px;
  color: white;
}

div#header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.37);
  padding-top: 10px;
  padding-bottom: 10px;
}

.nes-container.with-title.is-centered {
  display: none;
}

.nes-container.with-title.is-centered.opened {
  display: block;
}
